body{
	width: 1280px;
	height: 760px;
	background: no-repeat url(../img/loginbc.jpg);
}

input{
	text-indent: 10px;
	border-radius: 3px;
}

/* login area div */
#loginDiv{
	width: 300px;
	height: 300px;
	margin-left: 800px;
	margin-top: 160px;
	background: #fff;
	opacity: 0.6;
	padding-top: 30px;
	padding-left: 40px;	
	border-radius: 5px;
}

/* login font */
.loginFont{
	font-size: 40px;
	line-height: 30px;
	font-family: "楷体";
}

/* username and password font */
#upFont{
	width: 60px;
	float: left;
}

/* username div */
#usernameDiv{
	margin-top: 40px;
	float: left;
}

/* passwrod div */
#passwordDiv{
	margin-top: 40px;
	float: left;
}

/* forgot password div */
#modifyPass{
	width: 80px;
	margin-top: 10px;
	margin-right: 50px;
	float:right;
	cursor: hand;
}

/* login button */
#login{
	padding-left: 30px;
}

/* login button */
.loginButton{
	color: #2e4358;
	width: 200px;
	height: 30px;
	background-color: #C9C6CF;
	margin-top: 30px;
	border-radius: 3px;
	cursor: hand;
}
